.form-control{
    margin: 1rem 0;
 }
 .form-control label,
 .form-control input,
 .form-control textarea
 {
 display: block;
 width: 100%;
 }
 .form-control input,
 .form-control textarea
 {
     border: 1px solid #dbc441;
     font: inherit;
     border-radius: 2px;
 }
 button{
      font: inherit;
      border: 1px solid #6200ff;
      color: #6200ff;
      background: #fff;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 1rem;
 }
 button:hover,
 button:active{  
        background-color: #6200ff;
        color: #fff;
 }
 .product-form
 {
     width: 20rem;
     max-width: 90%;
     margin: auto;
 }
 .error_report
 {
     text-align: center;
    color: #e72424;
 }